@charset "utf-8";
/*CSS Document*/

/*authored by Shaw-0617*/

/*
html-font-size = current-width * (rem-base-font-size / UI-width),
the decimal portion is rounded,
UI-Width=750px,
*/
html{font-size: 10px;}
@media (min-width:320px) {html {font-size:10px;} }
@media (min-width:424px) {html {font-size:10px;} }
@media (min-width:480px) {html {font-size:11px;} }
@media (min-width:540px) {html {font-size:13px;} }
@media (min-width:640px) {html {font-size:16px;} }
@media (min-width:720px) {html {font-size:18px;} }
@media (min-width:750px) {html {font-size:18px;} }
@media (min-width:768px) {html {font-size:19px;} }
@media (min-width:800px) {html {font-size:19px;} }
@media (min-width:980px) {html {font-size:24px;} }
@media (min-width:1024px) {html {font-size:25px;} }
@media (min-width:1080px) {html {font-size:26px;} }

/*重置*/
html { border: none; }
body { background: #ffffff; color: #333333; font-family: system-ui,-apple-system,BlinkMacSystemFont,segoe ui,Roboto, Helvetica,Arial, sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol; border: none; max-height: 999999px; -webkit-text-size-adjust: none;}
a, article, aside, blockquote, body, button, code, dd, details, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, img, input, legend, li, menu, nav, ol, p, pre, section, select, table, tbody, td, textarea, th, tr, ul { margin: 0; padding: 0; border: none; line-height: 1; -webkit-box-sizing: border-box; box-sizing: border-box; }
ul,li { list-style: none; line-height: 1; }
a { color: #333333; text-decoration: none; cursor: pointer;-webkit-tap-highlight-color: transparent; }
p {margin-bottom: 0;margin-top: 0;}
body {background-color: #ffffff;width: 100%;}
ol, ul {list-style: none;}
ol, ul {margin: 0;padding: 0;border: 0;font: inherit;}
i, em {font-style: normal;}
h1, h2, h3, h4, h5, h6,p {font-weight: normal;margin: 0;padding: 0;}
input, textarea {outline: none;}
ul, li, p {list-style: none;padding: 0;}
.clear:after { content: ''; display: block; clear: both; }
body { margin: 0; font-size: 1.4rem; }
div { -webkit-tap-highlight-color: transparent; }

/*折叠面板*/
.accordion {  }
.accordion .item {  }
.accordion .item .item_tit { font-size: 1.6rem; }
.accordion .item .item_content { height: 0;overflow: hidden; background: #f0f3f8; }
.accordion .item.show .item_content { height: auto; }
.accordion .item .item_content .item_con_inner { opacity: 0;transform: translateY(-50%);transition: .3s ease-out;padding: 1rem; }
.accordion .item.show .item_content .item_con_inner { opacity: 1;transform: translateY(0); }

/*flex布局*/
.flex { display: flex;margin-bottom: 1rem; }
.flex .item { background: #0077aa;color: #ffffff;flex: 1;margin: .5rem;text-align: center;padding: 1rem;}

/*侧边*/
.aside_btn {  }
.aside_btn .aside_left_btn {  }
.aside_btn .aside_right_btn {  }
.aside { position: fixed;z-index: 99;width: 300px; max-width: 90vw;background: #f0f3f8;top: 0;bottom: 0; opacity: 0.5; transition: all .3s ease-out;overflow: auto; }
.aside.show { opacity: 1; }
.aside_left {left: 0; transform: translateX(-100%); }
.aside_left.show { transform: translateX(0); }
.aside_right { right: 0;transform: translateX(100%); }
.aside_right.show { transform: translateX(0); }
.aside_mask { background: rgba(0,0,0,.3);position: fixed;z-index: 98; top: 0;right: 0;bottom: 0;left: 0;display: none; }
.aside.show+.aside_mask { display: block; }

/*回顶部*/
.top_box{width: 5rem;height: 5rem;position: fixed;z-index:6;right: 1rem;bottom: 6rem; opacity: 1; }
.top_box.hide {  opacity: 0; }
.top_box.show {  opacity: 1; }
.go_top { }
.go_top i { font-size: 2rem; width: 5rem;height: 5rem;display: block;line-height: 5rem;text-align: center;background: #0077aa;color: #ffffff;border-radius: 100%; }

/*单行滑动导航*/
.nowrap_nav {background:#f0f3f8;position:relative;padding:0;margin:0;}
.nowrap_nav ul {width:100%;display:-webkit-box;margin:0 auto;}
.nowrap_nav ul li {text-align:center;-webkit-box-flex:1;display:-webkit-box;white-space:nowrap;-webkit-box-align:center;-webkit-box-pack:center;}
.nowrap_nav.nowrap_nav_con {z-index:1;width:100%;overflow:hidden;position:relative;-webkit-backface-visibility:hidden;}
.nowrap_nav ul li a {color:#666;display:block;width:100%;-webkit-box-sizing:border-box;padding:0 1.5rem;height: 4rem;line-height: 4rem;font-size: 1.6rem;}
.nowrap_nav ul li.active a {color:#07c160;position: relative;padding: 0 1rem;}
.nowrap_nav ul li.active a:after {content:'';display:block;height:2px;background-color:#07c160;position: absolute;bottom: 0;width: calc(100% - 2rem);}
.nowrap_nav ul {display:table;table-layout:fixed;white-space:nowrap;width:auto;}
.nowrap_nav ul:after {content:'';clear:both;display:inline-block;width:0;height:0;overflow:hidden;}
.nowrap_nav ul li {display:inline-block;}

/*向下展开菜单*/
.drop_down_nav {height: 4rem;position: fixed;width: 100%;}
.drop_down_nav .dpd_con:after { content: '';display: block;clear: both; }
.drop_down_nav .dpd_con {max-height: 4rem;overflow: hidden;background: #f0f3f8;padding: 0 1rem;transition: all 0.3s ease-out;position: absolute;top: 0;z-index: 6;width: 100%;}
.drop_down_nav.unfold .dpd_con {max-height: 50vh;overflow: auto; }
.drop_down_nav .cover { content: '';display: block;height: 0;width: 100%;max-width:750px;position: relative;z-index: 5;top: 0;left: 0;right: 0;background: rgba(0,0,0,.3);overflow: hidden; }
.drop_down_nav.unfold .cover { height: 100vh; }
.drop_down_nav .dpd_con::-webkit-scrollbar { display: none; }
.drop_down_nav ul {width: calc(100% - 1.8rem);}
.drop_down_nav ul:after { content: '';display: block;clear: both; }
.drop_down_nav ul li {float: left;}
.drop_down_nav ul li a {display: block;line-height: 4rem;padding: 0 1rem;font-size: 1.6rem;}
.drop_down_nav ul li.active a { color: #227edb; }
.drop_down_nav .dpd_btn {position: absolute;z-index: 3;width: 1.8rem;height: 1.8rem;right: 1rem;top: 1.4rem;text-align: right;}
.drop_down_nav .dpd_btn i {font-size: 1.6rem;transition: all 0.3s ease-out;display: inline-block;}
.drop_down_nav.unfold .dpd_con .dpd_btn i {transform: rotate(180deg);}
.drop_down_nav+script+div { padding-top: 4rem; }

@media (min-width: 1367px) {
    html { font-size:14px; }
    body::-webkit-scrollbar { display: none; }
    html,body { width: 750px;margin: 0 auto; }
    .head,.foot {width: 750px !important;}
    .head {box-shadow: none !important;border-bottom: 1px solid #eeeeee;}
    .drop_down_nav .dpd_con { padding: 0 14px; }
    .drop_down_nav ul { width: 722px; }
    body:before,body:after {position: fixed;top: 0;content: '';z-index: 10000;width: 1px;height: 100vh;display: block;background: #dedede;}
    body:before { left: calc(50% - 375px); }
    body:after { right: calc(50% - 375px); }
}

/*zeptoUI/css/zeptoUi.css*/
